html,css {
    background-color: rgb(14, 14, 14);
}
#countLabel {
    display:block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

#buttonContainer {
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(27, 27, 27);
}